  ::-webkit-scrollbar {
    width: 0.1px;
    height:5px
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:  #cbd5e1; 
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1F7DA9; 
  }

  #typography {
    font: bold 35px arial, sans-serif;
    background-color: #0369a1;
    color: transparent;
    font-family: cursive;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }